<h2>New celebrity</h2>
<div class="section">
<form action="/celebrities" method="POST">
  <input type=text name="name" placeholder="Name">
  <input type=text name="occupation" placeholder="Occupation">
  <input type=text name="catchPhrase" placeholder="Catch phrase">
  <button type="submit" class="button">Create</button>
</form>
</div>
<a href="/celebrities" class="button-back">Back</a>