<h2>New movie</h2>
<div class="section">
<form action="/movies" method="POST">
  <input type=text name="title" placeholder="Title">
  <input type=text name="genre" placeholder="Genre">
  <input type=text name="plot" placeholder="Plot">
  <button type="submit" class="button">Create</button>
</form>
</div>
<a href="/movies" class="button-back"> Back</a>